.frame-427319183,
.frame-427319183 * {
  box-sizing: border-box;
}
.frame-427319183 {
  height: 49487px;
  position: relative;
}
.frame-427319182-1 {
  width: 1920px;
  height: 2165.26px;
  position: absolute;
  left: 0px;
  top: 47321.75px;
  object-fit: cover;
}
.frame-427319180-1 {
  width: 1920px;
  height: 4321.06px;
  position: absolute;
  left: 0px;
  top: 38850.22px;
  object-fit: cover;
}
.frame-427319179-1 {
  width: 1920px;
  height: 4323.43px;
  position: absolute;
  left: 0px;
  top: 34526.79px;
  object-fit: cover;
}
.frame-427319177-1 {
  width: 1920px;
  height: 4318.68px;
  position: absolute;
  left: 0px;
  top: 25950.22px;
  object-fit: cover;
}
.frame-427319176-1 {
  width: 1920px;
  height: 4323.43px;
  position: absolute;
  left: 0px;
  top: 21626.79px;
  object-fit: cover;
}
.frame-427319175-1 {
  width: 1920px;
  height: 4318.68px;
  position: absolute;
  left: 0px;
  top: 17308.11px;
  object-fit: cover;
}
.frame-427319173-1 {
  width: 1920px;
  height: 4313.94px;
  position: absolute;
  left: 0px;
  top: 8649.24px;
  object-fit: cover;
}
.frame-427319168-10-1 {
  width: 1920px;
  height: 4325.81px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.frame-427319170-1 {
  width: 1920px;
  height: 4323.43px;
  position: absolute;
  left: 0px;
  top: 4325.81px;
  object-fit: cover;
}
.frame-427319174-1-1 {
  width: 1920px;
  height: 4344.93px;
  position: absolute;
  left: 0px;
  top: 12963.18px;
  object-fit: cover;
}
.frame-427319178-1 {
  width: 1920px;
  height: 4257.89px;
  position: absolute;
  left: 0px;
  top: 30268.9px;
  object-fit: cover;
}
.frame-427319181-1 {
  width: 1920px;
  height: 4323.43px;
  position: absolute;
  left: 0px;
  top: 43171.28px;
  object-fit: cover;
}
